<!DOCTYPE html>
<html>
<head>
    <title>Add user</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
<div style="text-align: center; margin-top: 100px">
    <h1>Add user</h1>
    <form method="POST">
        <label>Name</label><br>
        <input name="name" class="field"/><br><br>
        <label>Age</label><br>
        <input name="age" type="number" class="field" min="1" max="110" /><br><br>
        <input type="submit" value="Send" />
    </form>
    <a href="/">To the list of users</a>
</div>
</body>
<html>