<!DOCTYPE html>
<html>
<head>
    <title>List of users</title>
    <meta charset="utf-8" />
</head>
<body>
<div style="text-align: center; margin-top: 100px">
    <h1>List of users</h1>
    <p><a href="/create">Add user</a></p>
        <table style="margin-left: 45%">
            <tr><th>Name</th><th>Age</th><th></th></tr>
            {{#each users}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.age}}</td>
                    <td>
                        <a href="/edit/{{this.id}}">Edit</a>|
                        <form action="delete/{{this.id}}" method="POST" style="display:inline;">
                            <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            {{/each}}
        </table>
</div>
</body>
<html>